body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
    padding-left: 64px;
    padding-right: 64px;
}

li {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 16px;
}

.section-one {
    padding: 64px;

    background-color: #1F2937;
    color: #f9faf8;
}

.section-one img {
    background-color: purple;
    width: 250px;
}