body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
    padding-left: 64px;
    padding-right: 64px;
}

li {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 16px;
}

.section-one {
    display: flex;
    justify-content: space-between;
    padding: 64px;
    gap: 16px;

    background-color: #1F2937;
    color: #f9faf8;
}

.s1-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.s1-container div {
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}
.placeholder {
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: grey;
}